@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=PT+Serif&family=Roboto:wght@400;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #7a7c7c;
    line-height: 30px;
}
h1, h2, h3, h4, h5, h6{
    font-weight: 400;
    /* color:  #272D4E; */
    color:#2d473e;
    font-family: 'DM Serif Text', serif;
    

}
h1{
    font-size: 60px;
    line-height: 80px;
}
h2{
    /* font-size: 60px; */
    font-size: 50px;
    line-height: 70px;
}
h3{
    /* font-size: 50px; */
    line-height: 36px;
    font-size:40px ;
}

.bg-success{
    background-color:  #c29a17;
}
.text-primary{
    color:  #f1bc58;
}
.text-white{
    color:white;
}
.text-shadow{
    text-shadow: 1px 1px 3px rgb(0 0 0 / 25%);
}
.btn{
    color: #fffe;
    font-size: 18px;
    font-weight: 500;
}
.btn-lg-primary{
    padding: 12px 60px;
    /* background-color:#327c95; */
    border-radius: 60px;
    font-weight: 700;
    background-color: #e9b44d;
    box-shadow: 0px 10px 32px rgba(148, 152, 158, 0.336)
}
.btn-sm-primary{
    padding: 12px 16px;
    /* background-color: #327c95; */
    background-color: #0b5279;
    border-radius: 5px;
    
}

.btn-lg-success{
    padding: 24px 32px;
    background-color:  #70C217;
    border-radius: 60px;
}
/* .btn-lg-success{
    padding: 24px 32px;
    background-color:  #e9b44d;
    border-radius: 60px;
} */
a{
    line-height: inherit;
    color: #c99b43;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.17s ease-in-out;

    font-weight: 700;
    font-size: 22px;
}
.simple-link{
    color:#272D4E;
    font-size: 18px;
    font-weight: 500;
}
.container{
    /* width: 1440px; */
    width: 1110px;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.row>[class*="col-"]{
    padding: 12px;
}
/*-----flex-----*/

.align-item-bottom{
    align-items:flex-end;
}
.align-item-center{
    align-items:center;
}
.align-item-top{
    align-items: flex-start;
}      
.align-content-bottom{  /*it  dung align-content*/
    align-content: flex-end;
}
.align-content-center{
    align-content: center;
}
.align-content-top{
    align-content: flex-start;
}
.align-s-bottom{
    align-self: flex-end;
}
.align-s-center{
    align-self:center;
}
.align-s-top{
    align-self: flex-start;
}
/*--justify--*/
.justify-start{
    justify-content: flex-start;
}
.justify-center{
    justify-content: center;
}
.justify-end{
    justify-content: flex-end;
}
.justify-between{
    justify-content: space-between;
}
.justify-around{
    justify-content: space-around;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}
/*col---*/

.col-1{
    width: 8.33%;
}
.col-2{
    width: 16.66%;
}
.col-3{
    width: 25%;
}
.col-4{
    width: 33.33%;
}
.col-5{
    width: 41.66%;
}
.col-6{
    width: 50%;
}
.col-7{
    width: 58.33%;
}
.col-8{
    width: 66.66%;
}
.col-9{
    width: 75%;
}
.col-10{
    width: 83.33%;
}
.col-11{
    width: 91.66%;
}
.col-12{
    width: 100%;
}
.off-set-1{
    margin-left: 8.33%;
}
.off-set-3{
    margin-left: 25%;
}
.off-set-2{
    margin-left: 16.6%;
}
.mx-32px{
    margin: 0 10px;
}
.pd-60px{
    padding: 60px 100px 60px;
}
.pader-40{
    padding:18px;
   }
   .pd-90{
       padding:45px;
   }
   .pd-30{
       padding: 15px;
   }
   .pd-24{
       padding: 12px;
   }

.font-w700{
    font-weight: 700;
}
.pd-60{
    padding: 60px;
}
.toggle{
    position: relative; 
    height:28px;
    width:50px;
    padding: 4px; 
    
    background-color:  #1075e986;
    border-radius: 60px;
    transition: .3s;

}
.Circle{
     width:20px;
    height: 20px;
    z-index: 20;
    border-radius:50%;
    background: white;
    transition: .5s;
}
.toggle.active{
    background-color: #70C217;
}
.toggle.active .Circle{
    margin-left: 26px;
}